<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.SyntheticHuman.COVID19iswearicantbreathe"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

    <preference name="COVID-19 Destroyer" value="29" />
    <name>COVID-19 Destroyer</name>

  <description>
      A satisfying stress reliever.
  </description>

  <author href="https://scratch.mit.edu/users/SyntheticHuman/" email="nat20nathaniel@gmail.com">
      SyntheticHuman
  </author>
  
  <icon src="icon.png" />

</widget>
